:root {
  --text-color: #394754;
  --back-color: #fff;
}

*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
}

@media (max-width: 500px) {
  html {
    font-size: 55%;
  }
}

body {
  background-color: var(--back-color);
  font-family: "Segoe UI", Roboto, sans-serif;
  font-size: 1.6rem;
  line-height: 1.25em;
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  min-height: 100%;

  display: grid;
}

#root {
  flex: 1 1 100%;
  display: grid;
  gap: 15px;
  grid-template-columns: minmax(200px, 280px) 1fr;
  min-height: 100%;
}

.sb-footer {
  text-align: left;
  font-size: 1.2rem;
  font-weight: bold;
}

.sb-content {
  flex: 1 1 auto;
  width: 100%;
  border-radius: 3px;
}

code {
  background-color: var(--text-color);
  color: #fff;
  padding: 0 3px;
  font-size: 1.5rem;
}

ol, ul {
  padding-left: 15px;
}

ol {
  counter-reset: item;
}

ol ol {
  counter-reset: itemNested;
}

ol li { display: block; }

ol > li:before {
    content: counter(item) ". ";
    counter-increment: item;
    font-weight: bold;
    color: #29abe2;
}

ol > li > ol li::before {
  content: counter(item) "." counter(itemNested) " ";
  counter-increment: itemNested;
}

ol > li:not(:last-child), ul > li:not(:last-child) {
  margin-bottom: 3px;
}

.main {
  padding: 15px 10px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(100px, 1fr) auto;
}

.startingTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}

.startingTitleElement {
  font-weight: bold;
  font-size: 3rem;
}

button {
  border: none;
  background-color: #20232a;
  color: #fff;
  padding: 1rem 1.2rem;
  border-radius: 5px;
  cursor: pointer;
}

button + button {
  margin-left: 1rem;
}

.todoItem {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  align-items: center;
  grid-gap: 10px;
  width: 360px;
  background-color: #f5f6f9;
  padding: 5px 10px;
  box-shadow: 0 1px 5px 0px rgba(0, 0, 0, .3);
  margin-bottom: 15px !important;
}

.todoItemCompleted .todoItemTitle {
  text-decoration: line-through;
}

.todoItemTitle {
  max-width: 240px;
  white-space: nowrap;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
}