.agenda {
  background-color: #fff;
  padding: 5px 5px 5px 20px;
  font-size: 1.4rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
}

.sb-logo {
  max-width: 100%;
  width: 240px;
  height: auto;
  margin: 15px auto 10px auto;
}