:root {
  --text-color: #394754;
  --back-color: #f2f2f2;
}

*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
}

@media (max-width: 500px) {
  html {
    font-size: 55%;
  }
}

body {
  background-color: var(--back-color);
  font-family: "Segoe UI", Roboto, sans-serif;
  font-size: 1.6rem;
  line-height: 1.25em;
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  min-height: 100%;

  display: grid;
}

#root {
  flex: 1 1 100%;
  display: grid;
  gap: 15px;
  grid-template-columns: minmax(200px, 280px) 1fr;
  min-height: 100%;
}

.sb-title {
  font-size: 2.5rem;
}

.sb-footer {
  text-align: center;
}

.sb-content {
  flex: 1 1 auto;
  width: 100%;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .2);
  padding: 10px;
}

code {
  background-color: var(--text-color);
  color: #fff;
  padding: 0 3px;
  font-size: 1.5rem;
}

ol, ul {
  padding-left: 15px;
}

ol > li:not(:last-child), ul > li:not(:last-child) {
  margin-bottom: 3px;
}

.main {
  padding: 15px 10px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: auto minmax(100px, 1fr) auto;
}